<center><h1>CART</h1></center>
{% if cart_item %}
{% for item in cart_item%}
    <h3>{{ item.product.name }}</h3>
    <p>Price: {{ item.product.price }}</p>
    <p>Quantity:{{ item.product.quantity }}</p>
    <p>Total:{{ item.product.total}}</p>

    <a href="{% url 'increase' item.product.id %}"></a>
    <a href="{% url 'decrease' item.product.id %}"></a>
    <a href="{% url 'remove' item.product.id %}">Remove</a>
    
{% endfor %}
<h2>Total: {{final_amount }}</h2>

{% else %}
<p>cart is empty!</p>
{ % endif %}
<a href="{% url 'product_list' %}">continue shopping.</a>