<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place order</title>
</head>
<body>
    <div><center>
        <h1>Order Placed Successfully</h1>
         <p><strong>Order ID :</strong> {{ order.id }}</p>
    <p><strong>Status :</strong> {{ order.status }}</p>
    <p><strong>Payment Status :</strong> {{ order.payment }}</p>

        <p>Thankyou for Shopping with amazon.</p>
        <a href="{% url 'product_list' %}">continue shopping</a>
    </center></div>
</body>
</html>