body {
    font-family: Arial, sans-serif;
    background-color:royalblue;
    margin: 0;
    padding: 20px;
}

div {
    background: rgb(125, 213, 214);
    width: 220px;
    padding: 12px;
    margin: 12px;
    border-color: solid rgb(204, 133, 133);
    display: inline-block;
    text-align: center;
    
}

div img{
    width: 100%;
    height: 160px;
    object-fit: contain;
}